body {
  font-family: '微软雅黑';
}
.container {
  min-height: 100vh;
  width: 10rem;
  background: url("../image/bodyBg.png") no-repeat;
  background-size: 100% 100%;
  padding-bottom: 0.99609375rem;
}
.container .partA {
  height: 3.14453125rem;
  width: 100%;
  position: relative;
}
.container .partA .partAImg1 {
  position: absolute;
  width: 9.90234375rem;
  left: 0.17578125rem;
  top: 0;
}
.container .partA .partAImg2 {
  position: absolute;
  z-index: 1;
  width: 7.03125rem;
  height: 3.3203125rem;
  left: 1.953125rem;
  top: 0.52734375rem;
}
.container .partB {
  height: 2.16796875rem;
  width: 100%;
  position: relative;
  top: 0.01953125rem;
}
.container .partB .partBImg1 {
  position: absolute;
  width: 100%;
  left: 0rem;
  top: 0.63476563rem;
  padding: 0 0.06835938rem;
}
.container .partB .partBImg2 {
  position: absolute;
  z-index: 1;
  width: 8.76953125rem;
  height: 2.20703125rem;
  left: 0.703125rem;
  top: 0rem;
}
.container .partC {
  position: relative;
  z-index: 2;
  background: url("../image/partCBg.png") no-repeat 0 0;
  background-size: 100% 100%;
  margin: 0 0.06835938rem;
}
.container .partC .boxVS {
  text-align: center;
  height: 5.91796875rem;
  width: 100%;
  position: relative;
}
.container .partC .boxVS .boxVSImg1 {
  position: absolute;
  width: 8.60351563rem;
  left: 0.65429688rem;
  top: 0.3515625rem;
}
.container .partC .boxVS .boxVSImg2 {
  position: absolute;
  z-index: 1;
  width: 8.60351563rem;
  left: 0.65429688rem;
  top: 0.3515625rem;
}
.container .partC .boxVS .xieZhu {
  position: relative;
  z-index: 2;
  width: 6.640625rem;
  height: 0.859375rem;
  margin-top: 0.09765625rem;
}
.container .partC .boxVS .gamer {
  height: 4.24804688rem;
  overflow: hidden;
  position: relative;
  padding-top: 0.0390625rem;
  z-index: 4;
}
.container .partC .boxVS .gamer .wanJia {
  text-align: left;
}
.container .partC .boxVS .gamer .wanJia .wanJiaImg {
  width: 3.125rem;
  margin-left: 0.6640625rem;
  margin-top: 1.1328125rem;
}
.container .partC .boxVS .gamer .lingZhu {
  text-align: right;
}
.container .partC .boxVS .gamer .lingZhu .lingZhuImg {
  width: 4.6875rem;
}
.container .partC .boxVS .userName {
  position: relative;
  z-index: 5;
  font-size: 0.41015625rem;
  font-weight: bold;
  color: #fff;
  margin: 0 0.2734375rem;
}
.container .partC .boxVS .userName .userNameBg {
  text-shadow: 0.04882813rem 0.04882813rem 0.48828125rem #000000;
  background: url("../image/userNameBg.png") no-repeat;
  background-size: 100% 0.625rem;
}
.container .partC .boxVS .vs {
  position: absolute;
  left: 3.84765625rem;
  bottom: 0;
  width: 2.41210938rem;
  z-index: 6;
}
.container .partC .codeWrap .miLing {
  padding-top: 0.390625rem;
  padding-bottom: 0.04882813rem;
  text-align: center;
}
.container .partC .codeWrap .miLing .miLingImg {
  width: 2.3828125rem;
  height: 0.67382813rem;
}
.container .partC .codeWrap .codeBox {
  text-align: center;
}
.container .partC .codeWrap .codeBox .codeBtn {
  width: 7.36328125rem;
  height: 1.06445313rem;
  line-height: 1.06445313rem;
  text-align: center;
  border: none;
  outline: none;
  color: #fff;
  font-size: 0.78125rem;
  background: url("../image/codeBg.png") no-repeat;
  background-size: 100% 100%;
}
.container .partC .codeWrap .codeTip {
  padding: 0.05859375rem 0;
  text-align: center;
  font-size: 0.41015625rem;
  height: 0.625rem;
  color: #0dab01;
}
.container .partC .codeWrap .copyBox {
  text-align: center;
}
.container .partC .codeWrap .copyBox .copyBtn {
  width: 3.26171875rem;
  height: 1.484375rem;
  line-height: 0.9765625rem;
  text-align: center;
  border: none;
  outline: none;
  background: url("../image/copyBg.png") no-repeat;
  background-size: 100% 100%;
  padding-bottom: 0.04882813rem;
}
.container .partC .codeWrap .copyBox .copyBtn .copy {
  color: #fff;
  font-size: 0.703125rem;
  text-shadow: 0 0 0.15625rem #000000;
}
.container .partC .downloadWarp {
  position: relative;
  padding: 0 0.2734375rem;
}
.container .partC .downloadWarp .bigJianTou {
  width: 5.98632813rem;
  height: 2.36328125rem;
  position: absolute;
  left: 2.02148438rem;
  top: 0.04882813rem;
  z-index: 7;
}
.container .partC .downloadWarp .part {
  text-align: center;
  height: 6.3671875rem;
}
.container .partC .downloadWarp .part .isInstall {
  padding-top: 2.4609375rem;
}
.container .partC .downloadWarp .part .isInstall img {
  width: 3.27148438rem;
  height: 0.55664063rem;
}
.container .partC .downloadWarp .part .smallJianTou {
  padding-top: 0.1953125rem;
}
.container .partC .downloadWarp .part .smallJianTou img {
  width: 0.92773438rem;
  height: 1.06445313rem;
}
.container .partC .downloadWarp .part .btnBox .btn {
  width: 3.26171875rem;
  height: 1.484375rem;
  line-height: 0.9765625rem;
  text-align: center;
  border: none;
  outline: none;
  color: #fff;
  font-size: 0.5859375rem;
  text-shadow: 0 0 0.15625rem #000000;
  padding-bottom: 0.09765625rem;
}
.container .partC .downloadWarp .part .btnBox .leftBtn {
  background: url("../image/leftBtn.png") no-repeat;
  background-size: 100% 100%;
}
.container .partC .downloadWarp .part .btnBox .rightBtn {
  background: url("../image/rightBtn.png") no-repeat;
  background-size: 100% 100%;
}
.container .partC .downloadWarp .left {
  background: url("../image/blueBg.png") no-repeat 0 -0.234375rem;
  background-size: 100%;
}
.container .partC .downloadWarp .right {
  background: url("../image/orangeBg.png") no-repeat 0 -0.234375rem;
  background-size: 100%;
}
.container .partC .explainBox {
  padding-bottom: 1.77734375rem;
  margin: 0 0.2734375rem;
  position: relative;
  top: -0.1953125rem;
}
.container .partC .explainBox .divide img {
  width: 100%;
}
.container .partC .explainBox .explain {
  padding: 0 0.546875rem;
  color: #4b3636;
  font-size: 0.41015625rem;
}
.container .partC .bottomImg {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  background-color: #55403D;
}
