@import "../../assets/common";
.container{
  .menuBox {
    background-color: #fff;
    display: flex;
    border: 2rpx dotted #595959;
    .menu_item {
      color: #000;
      font-size: 26rpx;
      width: 0;
      height: 58rpx;
      flex-grow: 1;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 2rpx dotted #595959;
      &:last-child{
        border-right: none;
      }
    }
    .active {
      background-color: #f4f4f4;
    }
  }

  .listBox{
    .list-item{
      .list-ctrls-item{
        padding: 20rpx 40rpx;
        background-color: #eee;
        .ctrlBtn {
          color: #fff;
          font-size: 36rpx;
          height: 94rpx;
          line-height: 94rpx;
          border-radius: 10rpx;
          background-color: #1AAD19;
          outline: none;
          display: flex;
          align-items: center;
          justify-content: center;
          border:2rpx solid #1AAD19;
          margin-bottom: 30rpx;
          &:last-child{
            margin-bottom: 0;
          }
        }
        .gray{
          color: #595959;
          background-color: transparent;
          border:2rpx solid #595959;
        }
        .red{
          color: #fff;
          background-color: @redColor;
          border:2rpx solid @redColor;
        }
      }
      .list-goods-item{
        margin: 0 12rpx;
        .list-type-item{
          border-bottom: 1rpx solid #D8D8D8;
          display: flex;
          align-items: stretch;
          justify-content: space-between;
          font-size: 18rpx;
          padding: 16rpx 0;
          &-left{
            font-size: 0;
            width: 40rpx;
            height: 100%;
            .check_icon{
              width: 26rpx;
              height: 26rpx;
            }
          }
          &-middle{
            color: #000;
            flex-grow: 1;
            padding-left: 34rpx;
            background: url("@{ossDomain}purchaser/myOrder/cate_icon.png") no-repeat left center;
            background-size: 22rpx 22rpx;
          }
          &-right{
            padding-right: 70rpx;
            background: url("@{ossDomain}common/more2_black_right.png") no-repeat right 36rpx center;
            background-size: 18rpx 18rpx;
          }
          .red{
            color: @redColor;
          }
          .black{
            color: #000;
          }
          .gray{
            color: #595959;
          }
        }
        .list-good-item{
          padding:  20rpx 0;
          display: flex;
          align-items: stretch;
          font-size: 0;
          border-bottom: 1rpx solid #F4F4F4;
          .list-good-item-left{
            font-size: 0;
            width: 40rpx;
            display: flex;
            align-items: center;
            .check_icon{
              width: 26rpx;
              height: 26rpx;
            }
          }
          .list-good-item-middle{
            width:175rpx;
            height:175rpx;
            overflow: hidden;
            margin-right: 42rpx;
            .list-good-item-shop-img{
              width: 100%;
              height: 100%;
            }
          }
          .list-good-item-right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow:1;
            width:0;
            .list-good-item-desc1{
              color: #000;
              font-size: 26rpx;
              line-height:35rpx;
              .ellipsis(2);
            }
            .list-good-item-desc2{
              color: #BBBBBB;
              font-size: 21rpx;
            }
            .list-good-item-desc4{
              color: @redColor;
              font-size: 26rpx;
            }
          }
        }
      }
    }
  }

  .shadowBox{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 3;
    background:rgba(0,0,0,.24);
    display: flex;
    align-items: center;
    justify-content: center;
    .shadowInfo{
      width: 298rpx;
      background-color: #fff;
      padding: 31rpx 98rpx 38rpx;
      border-radius: 8rpx;
      position: relative;
      .close_icon{
        position: absolute;
        left: 10rpx;
        top: 10rpx;
        height: 42rpx;
        width: 42rpx;
      }

      .title{
        color: #000;
        font-size: 30rpx;
        padding-bottom: 40rpx;
      }
      .ctrlBtn{
        width: 100%;
        color: #fff;
        font-size: 21rpx;
        height: 64rpx;
        line-height: 64rpx;
        border-radius: 5rpx;
        margin-bottom: 60rpx;
        background-color: #1AAD19;
        border: none;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}