.container{
  padding: 30rpx;

  .box1{
    .ipt1{
      padding: 0 10rpx;
      border: 1rpx solid #666;
    }
    .placeholderClass{
      color: blue;
    }
    caret-color: red; // 光标颜色
  }

  .box2{
    .navigator{
      color: blue;
    }
    .navigator-hover{
      font-size: 50rpx;
      color: red;
      background-color: pink;
    }
  }

}