.container {
  background-color: #fff;

  .box1 {
    .ipt1 {
      padding: 0 10rpx;
      border: 1rpx solid #666;
    }
    .placeholderClass {
      color: blue;
    }
    caret-color: red; // 光标颜色
  }

  .box2 {
    .navigator {
      color: blue;
    }
    .navigator-hover {
      font-size: 50rpx;
      color: red;
      background-color: pink;
    }
  }

  .tabListWrap {
    font-size: 0;
    box-sizing: border-box;
    overflow: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
    border-bottom: 1rpx solid #E5E5E5;
    .tabListBox {
      height: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      /*解决ios上滑动不流畅*/
      -webkit-overflow-scrolling: touch;
      /*纵向超出部分将会隐藏，即滚动条部分被挤出可视区域*/
      padding-bottom: 20rpx;
      margin-bottom: -20rpx;
      .tabList {
        display: flex;
        align-items: center;
        font-size: 0;
        .toggleItem {
          text-align: center;
          display: inline-block;
          padding-right: 40rpx;
          white-space: nowrap;
          &:first-child {
            padding-left: 20rpx;
          }
          &:last-child {
            padding-right: 20rpx;
          }
          .desc1 {
            color: #1A1A1A;
            font-size: 32rpx;
            padding: 22rpx 0;
            border-bottom: 6rpx solid transparent;
          }
        }
        .active {
          .desc1 {
            color: red;
            border-bottom: 6rpx solid red;
          }
        }
      }
    }
  }

  .tabListWrap2 {
    font-size: 0;
    box-sizing: border-box;
    overflow: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
    border-bottom: 1rpx solid #E5E5E5;
    .tabListBox {
      height: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      /*解决ios上滑动不流畅*/
      -webkit-overflow-scrolling: touch;
      /*纵向超出部分将会隐藏，即滚动条部分被挤出可视区域*/
      padding-bottom: 20rpx;
      margin-bottom: -20rpx;
      .tabList {
        display: flex;
        align-items: center;
        font-size: 0;
        .toggleItem {
          text-align: center;
          display: inline-block;
          &:first-child {
            .desc1 {
              margin-left: 20rpx;
            }
          }
          &:last-child {
            .desc1 {
              margin-right: 20rpx;
            }
          }
          .desc1 {
            width: 150rpx;
            color: #1A1A1A;
            font-size: 32rpx;
            padding: 22rpx 0;
            border-bottom: 6rpx solid transparent;
            margin-right: 40rpx;
          }
        }
        .active {
          .desc1 {
            color: red;
            border-bottom: 6rpx solid red;
          }
        }
      }
    }
  }

}