button::after {
  border: none;
}
.noMoreData {
  text-align: center;
  padding: 32rpx 0;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}
.container {
  border-top: 1rpx solid #F4F4F4;
  padding-bottom: 270rpx;
}
.container .addressBox {
  height: 88rpx;
  padding: 0 74rpx 0 50rpx;
  background-color: #F4F4F4;
}
.container .addressBox .hasAddress {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
}
.container .addressBox .hasAddress .info1 {
  font-size: 26rpx;
}
.container .addressBox .hasAddress .info1 .name {
  padding-right: 30rpx;
}
.container .addressBox .hasAddress .info2 {
  display: flex;
  align-items: center;
}
.container .addressBox .hasAddress .info2 .left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88rpx;
  height: 24rpx;
  font-size: 16rpx;
  color: #fff;
  background-color: #FB0E04;
  margin-right: 24rpx;
}
.container .addressBox .hasAddress .info2 .right {
  width: 0;
  flex-grow: 1;
  font-size: 21rpx;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.container .goodsBox {
  margin: 60rpx 0;
}
.container .goodsBox .goodsItem {
  padding: 18rpx 50rpx;
  background-color: #F4F4F4;
  font-size: 24rpx;
  color: #000;
  display: flex;
  align-items: stretch;
}
.container .goodsBox .goodsItem .goodImg {
  width: 160rpx;
  height: 160rpx;
  margin-right: 23rpx;
}
.container .goodsBox .goodsItem .goodsInfo {
  width: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .goodsBox .goodsItem .goodsInfo .desc1 {
  font-size: 21rpx;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.container .goodsBox .goodsItem .goodsInfo .desc2 {
  font-size: 21rpx;
  color: #595959;
}
.container .goodsBox .goodsItem .goodsInfo .num_desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .goodsBox .goodsItem .goodsInfo .num_desc .num_left {
  color: #595959;
  font-size: 30rpx;
}
.container .goodsBox .goodsItem .goodsInfo .num_desc .num_right {
  color: #595959;
  font-size: 24rpx;
}
.container .deliverBox {
  color: #000;
  font-size: 24rpx;
  padding: 13rpx 50rpx;
  background-color: #F4F4F4;
}
.container .deliverBox .wayInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .deliverBox .time {
  color: #595959;
  font-size: 20rpx;
  padding-top: 40rpx;
  padding-bottom: 10rpx;
}
.container .discountBox {
  color: #000;
  font-size: 24rpx;
}
.container .discountBox .item {
  height: 60rpx;
  padding: 0 55rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1rpx solid #D8D8D8;
}
.container .discountBox .item:last-child {
  border-bottom: 0;
}
.container .discountBox .title {
  height: 82rpx;
}
.container .discountBox .mt30 {
  margin-top: 30rpx;
  border-top: 1rpx solid #D8D8D8;
}
.container .bottomBox {
  position: fixed;
  left: 0;
  bottom: 36rpx;
  width: 100%;
  background-color: #ffffff;
}
.container .bottomBox .bottomBtn {
  color: #fff;
  font-size: 36rpx;
  height: 90rpx;
  line-height: 90rpx;
  border-radius: 10rpx;
  margin: 0 40rpx 46rpx;
}
.container .bottomBox .bottomBtn:last-child {
  margin-bottom: 0;
}
.container .bottomBox .green {
  color: #fff;
  border: 2rpx solid #1AAD19;
  background-color: #1AAD19;
}
.container .bottomBox .red {
  color: #fff;
  border: 2rpx solid #FB0E04;
  background-color: #FB0E04;
}
.container .bottomBox .gray {
  color: #595959;
  border: 2rpx solid #595959;
  background-color: #fff;
}
.container .shadowBox {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .shadowBox .shadowInfo {
  width: 298rpx;
  background-color: #fff;
  padding: 31rpx 98rpx 38rpx;
  border-radius: 8rpx;
  position: relative;
}
.container .shadowBox .shadowInfo .close_icon {
  position: absolute;
  left: 10rpx;
  top: 10rpx;
  height: 42rpx;
  width: 42rpx;
}
.container .shadowBox .shadowInfo .title {
  color: #000;
  font-size: 30rpx;
  padding-bottom: 40rpx;
}
.container .shadowBox .shadowInfo .ctrlBtn {
  width: 100%;
  color: #fff;
  font-size: 21rpx;
  height: 64rpx;
  line-height: 64rpx;
  border-radius: 5rpx;
  margin-bottom: 60rpx;
  background-color: #1AAD19;
  border: none;
}
.container .shadowBox .shadowInfo .ctrlBtn:last-child {
  margin-bottom: 0;
}
