@import "../../assets/common";

.container{
  background-color: #F5F5F5;
  min-height: 100vh;
  overflow: hidden;
  .addressBox{
    padding: 24rpx 20rpx 0;
    .hasAddress{
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #FFF;
      padding: 22rpx 20rpx 20rpx;
      border-radius:10rpx;
      .info1{
        display: flex;
        align-items: center;
        .address_icon{
          width: 36rpx;
          height: 36rpx;
          margin-right: 8rpx;
        }
        .name{
          color: #1A1A1A;
          font-size: 28rpx;
          line-height: 44rpx;
          padding-right: 16rpx;
        }
        .phone{
          color: #666;
          font-size: 20rpx;
          line-height: 32rpx;
        }
      }
      .info2{
        display: flex;
        align-items: center;
        padding-top: 12rpx;
        //.left{
        //  display: flex;
        //  align-items: center;
        //  justify-content: center;
        //  width: 88rpx;
        //  height: 24rpx;
        //  font-size: 16rpx;
        //  color: #fff;
        //  background-color: @redColor;
        //}
        .right{
          width: 0;
          flex-grow: 1;
          color: #1A1A1A;
          font-size: 20rpx;
          line-height: 32rpx;
          padding-left: 44rpx;
        }
      }
    }
  }

  .goodsBox{
    padding: 24rpx 20rpx 0;
    .list-item{
      background-color: #fff;
      border-radius:10rpx;
      padding-left: 30rpx;
      padding-right: 20rpx;
      .list-ctrls-item{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 34rpx;
        padding-bottom: 32rpx;
        .ctrlBtn {
          color: #666666;
          font-size: 26rpx;
          height: 56rpx;
          padding: 0 16rpx;
          border-radius: 28rpx;
          outline: none;
          display: flex;
          align-items: center;
          justify-content: center;
          border:1rpx solid #B2B2B2;
          margin-right: 16rpx;
          &:last-child{
            margin-right: 0;
          }
        }
        .red{
          color: @redColor;
          border:1rpx solid @redColor;
        }
      }
      .list-goods-item{
        .list-type-item{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 32rpx 0;
          &-left{
            display: flex;
            align-items: center;
            .logo{
              width:36rpx;
              height:36rpx;
              border-radius:4rpx;
            }
            .name{
              color: #1A1A1A;
              font-size: 28rpx;
              line-height: 44rpx;
              padding: 0 8rpx;
            }
            .more_icon{
              width:28rpx;
              height:28rpx;
              border-radius:4rpx;
            }
          }
          &-right{
            color: @redColor;
            font-size: 20rpx;
            line-height: 28rpx;
          }
        }
        .list-good-item{
          display: flex;
          align-items: stretch;
          font-size: 0;
          padding-bottom: 24rpx;
          .list-good-item-left{
            border-radius:10rpx;
            overflow: hidden;
            margin-right: 20rpx;
            .list-good-item-shop-img{
              width:180rpx;
              height:180rpx;
            }
          }
          .list-good-item-middle{
            max-width: 322rpx;
            .list-good-item-desc1{
              color: #1A1A1A;
              font-size: 24rpx;
              line-height:36rpx;
              .ellipsis(2);
            }
            .list-good-item-desc2{
              color: #666666;
              font-size: 22rpx;
              line-height:30rpx;
              padding-top: 18rpx;
            }
          }
          .list-good-item-right{
            width: 0;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            &-desc1{
              color: #1A1A1A;
              font-size: 24rpx;
              line-height:36rpx;
            }

            &-desc2{
              color: #666666;
              font-size: 22rpx;
              line-height:32rpx;
              padding-top: 4rpx;
            }
          }
        }
        .list-total-item{
          display: flex;
          align-items: center;
          justify-content: flex-end;
          &-desc1{
            color: #666666;
            font-size: 20rpx;
            line-height:32rpx;
          }

          &-desc2{
            color: #1A1A1A;
            font-size: 26rpx;
            line-height:38rpx;
            padding-left: 16rpx;
          }
        }
      }
    }
  }

  .discountBox{
    margin: 8rpx 20rpx 152rpx;
    padding: 19rpx 20rpx 0;
    background-color: #fff;
    border-radius:10rpx;
    .item{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 24rpx;
      line-height:36rpx;
      .left{
        color: #B2B2B2;
      }
      .right{
        color: #666;
      }
    }
    .total{
      margin-top: 26rpx;
      border-top: 2rpx solid #F5F5F5;
      padding: 18rpx 0;
      .right{
        color: @redColor;
      }
    }
  }

  .bottomBox{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    .list-ctrls-item{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 27rpx 40rpx 15rpx;
      border-top: 2rpx solid rgba(0,0,0,0.05);
      .ctrlBtn {
        color: #666666;
        font-size: 26rpx;
        height: 56rpx;
        padding: 0 16rpx;
        border-radius: 28rpx;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border:1rpx solid #B2B2B2;
        margin-right: 16rpx;
        &:last-child{
          margin-right: 0;
        }
      }
      .red{
        color: @redColor;
        border:1rpx solid @redColor;
      }
    }
  }

}
