@import "../../assets/common";

.container{
  background-color: #F5F5F5;
  min-height: 100vh;
  overflow: hidden;

  /*切换菜单*/
  .customFixed{
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    .backBtn{
      position: absolute;
      z-index: 10;
      left: 20rpx;
      top: 66rpx;
      width: 36rpx;
      height: 36rpx;
    }
    .title{
      padding-top: 40rpx;
      height:88rpx;
      opacity: 0;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #1A1A1A;
      font-size: 36rpx;
    }
    .cartBtn{
      position: absolute;
      z-index: 10;
      right: 20rpx;
      top: 66rpx;
      width: 36rpx;
      height: 36rpx;
    }
  }

  /*基本信息*/
  .basicInfo{
    font-size: 0;
    padding-top: 40rpx;
    background-color: #fff;
    .goodImgBox{
      padding: 0 20rpx;
      height: 710rpx;
      overflow: hidden;
      .goodImg{
        width: 100%;
        height: 100%;
        margin: 0 auto;
      }
    }

    .infos{
      padding: 40rpx 20rpx 24rpx;
      position: relative;
      margin-bottom: 24rpx;
      border-bottom: 24rpx solid #F5F5F5;
      .desc1{
        .price1{
          color: @redColor;
          font-size: 24rpx;
          line-height:36rpx;
          padding-right: 8rpx;
          .num{
            font-size: 48rpx;
            line-height: 48rpx;
          }
        }
        .price2{
          padding-left: 16rpx;
          color: #B2B2B2;
          font-size: 24rpx;
          line-height:36rpx;
          text-decoration: line-through;
        }
      }
      .desc2{
        padding-top: 32rpx;
        color: #1A1A1A;
        font-size: 24rpx;
        line-height:36rpx;
        width: 532rpx;
      }
      .desc3{
        padding-top: 8rpx;
        color: #B2B2B2;
        font-size: 24rpx;
        line-height:36rpx;
        width: 532rpx;
      }

      .right1{
        color: #B2B2B2;
        font-size: 24rpx;
        line-height:36rpx;
        position: absolute;
        top: 54rpx;
        right: 20rpx;
      }
      .right2{
        color: @redColor;
        font-size: 26rpx;
        line-height:38rpx;
        position: absolute;
        bottom: 72rpx;
        right: 20rpx;
      }
      .right3{
        color: #B2B2B2;
        font-size: 20rpx;
        line-height:32rpx;
        position: absolute;
        bottom: 43rpx;
        right: 30rpx;
      }
    }

    .posts{
      font-size: 24rpx;
      height: 56rpx;
      line-height: 56rpx;
      .desc1{
        color: #595959;
        padding-left: 50rpx;
        padding-right: 62rpx;
      }
      .desc2{
        color: #000;
      }
    }

    .selects{
      font-size: 24rpx;
      padding: 12rpx 50rpx;
      background: url("@{ossDomain}common/more2_black_right.png") no-repeat right 30rpx center;
      background-size: 24rpx 24rpx;
      .desc1{
        color: #D2CECE;
      }
      .desc2{
        color: #000;
      }
    }
  }

  /*商品详情*/
  .detailBox{
    min-height: 900rpx;
    .title{
      font-weight: bold;
      font-size: 30rpx;
      color: #000;
      height: 66rpx;
      line-height: 66rpx;
      border-bottom: 1rpx dotted #BBBBBB;
      padding-left: 48rpx;
    }
    .paramsList{
      font-size: 20rpx;
      color: #000;
      text-align: center;
      padding-bottom: 3rpx;
      .paramsItem{
        display: flex;
        align-items: stretch;
        border-bottom: 1rpx dotted #F4F4F4;
        .key{
          width: 204rpx;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .value{
          padding: 14rpx;
          width: 0;
          flex-grow: 1;
          border-left: 1rpx dotted #F4F4F4;
        }
      }
    }
    .imgList{
      font-size: 0;
      .imgItem{
        .detailImg{
          width: 100%;
        }
      }
    }
  }

  /*平台说明*/
  .tipsBox{
    padding-bottom: 100rpx;
    .title{
      text-align: center;
      font-weight: bold;
      font-size: 24rpx;
      color: #000;
      height: 66rpx;
      line-height: 66rpx;
      background-color: #D8D8D8;
    }
    .tipList{
      padding: 0 15rpx;
      .tipItem{
        font-size: 24rpx;
        .tip_title{
          color: #000;
          padding-top: 16rpx;
          padding-bottom: 6rpx;
        }
        .tip_desc{
          color: #595959;
          line-height:31rpx;
        }
      }
    }
  }

  /*底部定位*/
  .bottomFixBox{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background-color: #fff;
    height: 85rpx;
    border-top: 1rpx solid #979797;
    display: flex;
    button{
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      line-height: inherit;
      background-color: transparent;
      border-right: 1rpx solid #979797;
      border-radius: 0;
      width: 85rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      &::after{
        border: none;
      }
    }
    .leftIcon{
      width: 42rpx;
      height: 42rpx;
    }
    .ctrlBtn{
      width: 338rpx;
      font-size: 30rpx;
      color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .ctrlBtn2{
      width: 0;
      flex-grow: 1;
      font-size: 30rpx;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #1AAD19;
    }
  }

  .shadowBox{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 3;
    background:rgba(0,0,0,.7);
    border-top: 1rpx solid #F4F4F4;
    .shadowWrap{
      position: fixed;
      width: 100%;
      left: 0;
      bottom: 0;
      background-color: #fff;
      border-top: 1rpx solid #F4F4F4;
      .shadowInfo{
        padding: 32rpx 50rpx 75rpx;
        position: relative;
        .close_icon{
          position: absolute;
          top: 16rpx;
          right: 16rpx;
          height: 30rpx;
          width: 30rpx;

        }
        .descs{
          display: flex;
          align-items: stretch;
          .left{
            width:225rpx;
            height:225rpx;
            border-radius: 5rpx;
            margin-right: 18rpx;
            border: 5rpx solid #FDF9F9;
          }
          .right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .desc{
              color: #000;
              font-size: 30rpx;
            }
            .price{
              color: #595959;
            }
          }
        }
        .selects{
          .title{
            color: #595959;
            font-size: 24rpx;
            padding-top: 28rpx;
          }
          .menuBox {
            background-color: #fff;
            overflow: hidden;
            .menu_item {
              float: left;
              color: #000;
              font-size: 24rpx;
              width:180rpx;
              height:45rpx;
              line-height:45rpx;
              text-align: center;
              background-color:#fff;
              border-radius:8rpx;
              border:1rpx solid #595959;
              margin-right: 52rpx;
              margin-top: 24rpx;
              .ellipsis();
              &:nth-child(3n){
                margin-right: 0;
              }
            }
            .active {
              color: #fff;
              background-color: @redColor;
              border:1rpx solid @redColor;
            }
          }
        }
        .nums{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 40rpx;
          padding-bottom: 66rpx;
          .title{
            color: #595959;
            font-size: 24rpx;
          }
          .num_desc{
            .ctrl_icon{
              width: 25rpx;
              height: 25rpx;
              vertical-align: middle;
              padding: 12rpx;
            }
            .num{
              display: inline-block;
              width: 150rpx;
              height: 50rpx;
              line-height: 50rpx;
              border: 1rpx solid #E3E3E3;
              border-radius:4rpx;
              color: #000;
              font-size: 24rpx;
              text-align: center;
              vertical-align: middle;
            }
            .unit{
              color: #595959;
              font-size: 20rpx;
              margin-left: 20rpx;
            }
          }
        }
        .submitBtn{
          color: #fff;
          font-size: 36rpx;
          height: 80rpx;
          line-height: 80rpx;
          border-radius: 10rpx;
          margin: 0 70rpx;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
  }
}