@import "./../../assets/common";
.container{
  background-color: #FFF;
  border-top: 24rpx solid #F5F5F5;
  .descBox {
    padding: 0 20rpx;
    .itemBox {
      color: #000;
      height: 100rpx;
      display: flex;
      align-items: center;
      border-bottom: 2rpx solid #F5F6F8;
      .right {
        color: #1A1A1A;
        flex-grow: 1;
        font-size: 26rpx;
        .placeholderStyle {
          color: #B2B2B2;
        }
      }
      .address{
        color: #B2B2B2;
      }
      .more_icon {
        width: 28rpx;
        height: 28rpx;
      }
      .switchBox{
        font-size: 0;
      }
      .wx-switch-input{
        width: 100rpx;
        height: 30rpx;
        margin-left:-14rpx;
        transform: scale(0.8);
      }
    }
  }

  .bottomBox{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 32rpx;
    .bottomBtn{
      margin: 0 20rpx;
      height: 76rpx;
      font-size: 26rpx;
      color: #fff;
      background-color: @redColor;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius:44rpx;
    }
  }
  .bottomBoxConfirm{
    bottom: 32rpx;
  }
  .bottomBoxDelete{
    bottom: 132rpx;
  }
}

