@import "../../assets/common";

.container{
  min-height: 100vh;
  padding: 0 20rpx;
  font-size: 0;
  overflow: hidden;
  background-color: #f5f5f5;
  position: relative;
  .bodyBg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 550px;
  }

  .headerBox{
    position: relative;
    z-index: 1;
    .location{
      display: flex;
      align-items: center;
      padding: 20rpx 0;
      margin-top: 70rpx;
      .icon{
        width: 38rpx;
        height: 48rpx;
      }
      .name{
        font-size:32rpx;
        font-family:PingFang SC;
        font-weight:400;
        color:rgba(255,255,255,1);
        padding-left: 15rpx;
        padding-right: 12rpx;
      }
      .more{
      }
    }

    .search{
      height:56rpx;
      background:rgba(255,255,255,1);
      opacity:0.9;
      border-radius:28rpx;
      display: flex;
      align-items: center;
      padding: 0 28rpx;
      margin-top: 10rpx;
      .icon{
        width: 30rpx;
        height: 30rpx;
      }
      .name{
        font-size:28rpx;
        font-family:PingFang SC;
        font-weight:300;
        color:rgba(102,102,102,1);
        padding-left: 22rpx;
      }
    }

    .bigImg{
      margin-top: 26rpx;
      position: relative;
      swiper{
        width:100%;
        height:280rpx;
        border-radius: 8rpx;
        overflow: hidden;
        .img{
          width:100%;
          height:100%;
        }
      }

      .dots {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 20rpx;
        height:4rpx;
        background:rgba(0,0,0,.2);
        border-radius:2rpx;
      }
      /*未选中时的小圆点样式 */
      .dot {
        width:24rpx;
        height:4rpx;
      }
      /*选中以后的小圆点样式  */
      //.active {
      //  background:rgba(241,94,52,1);
      //}
    }

    .labels{
      margin: 15rpx 0 14rpx;
      padding: 5rpx 10rpx 10rpx;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .labelItem{
        display: flex;
        align-items: center;
        .icon{
          width: 25rpx;
          height: 30rpx;
        }
        .name{
          font-size:24rpx;
          font-family:PingFang SC;
          font-weight:300;
          color:rgba(255,255,255,1);
          line-height:35rpx;
          padding-left: 6rpx;
        }
      }
    }
  }

  .flashSaleBox {
    position: relative;
    z-index: 1;
    background-color:#FFF;
    border-radius:10rpx;
    opacity:0.9;
    padding: 18rpx 24rpx 16rpx;
    box-shadow:0rpx 6rpx 20rpx 0rpx rgba(31,34,43,0.07);
    .title{
      font-size:32rpx;
      color:#1A1A1A;
      line-height:48rpx;
      display: flex;
      align-items: flex-end;
      .desc{
        font-size:24rpx;
        font-family:PingFang SC;
        font-weight:300;
        color:rgba(136,136,136,1);
        line-height:35rpx;
        padding-left: 16rpx;
      }
    }
    .goodList{
      padding-top: 14rpx;
      overflow: hidden;
      box-sizing: border-box;
      .goodItem{
        float: left;
        margin-right: 8rpx;
        position: relative;
        &:last-child{
          margin-right: 0;
        }
        .goodImg{
          width:126rpx;
          height:126rpx;
        }
        .price{
          color: #212121;
          font-size: 20rpx;
          text-align: center;
          padding-top: 12rpx;
          .unit{
            font-size: 16rpx;
            padding-right: 3rpx;
          }
        }
        .rank{
          width:30rpx;
          height:36rpx;
          position: absolute;
          left: 10rpx;
          top: 0;
        }
      }
    }
  }

  .sortBox {
    position: relative;
    z-index: 1;
    margin-top: 24rpx;
    background-color:#FFF;
    border-radius:10rpx;
    opacity:0.9;
    padding: 34rpx 24rpx 0;
    box-shadow:0rpx 6rpx 20rpx 0rpx rgba(31,34,43,0.07);
    swiper{
      width:100%;
      height:372rpx;
      overflow: hidden;
      .sortList{
        overflow: hidden;
        box-sizing: border-box;
        .sortItem{
          float: left;
          width:106rpx;
          margin-right: 32rpx;
          &:nth-child(5n){
            margin-right: 0;
          }
          .sortImg{
            width:106rpx;
            height:106rpx;
            overflow: hidden;
            border-radius:44rpx;
          }
          .name{
            color: #666;
            font-size: 24rpx;
            text-align: center;
            margin-top: 16rpx;
            margin-bottom: 30rpx;
          }
        }
      }
    }
  }

  .sort2Box {
    position: relative;
    z-index: 1;
    margin-top: 24rpx;
    background-color:#FFF;
    border-radius:10rpx;
    opacity:0.9;
    box-shadow:0rpx 6rpx 20rpx 0rpx rgba(31,34,43,0.07);
    .sortList{
      overflow: hidden;
      box-sizing: border-box;
      .sortItem{
        float: left;
        width:calc(50% - 2rpx);
        border-right: 2rpx solid #F5F5F5;
        border-bottom: 2rpx solid #F5F5F5;
        padding: 0 28rpx;
        box-sizing: border-box;
        &:nth-child(2n){
          border-right: none;
        }
        &:nth-last-child(1){
          border-bottom: none;
        }
        &:nth-last-child(2){
          border-bottom: none;
        }
        .desc1{
          font-size:32rpx;
          font-family:PingFang SC;
          font-weight:400;
          color:rgba(33,33,33,1);
          line-height:35rpx;
          margin-top: 22rpx;
        }
        .desc2{
          font-size:24rpx;
          font-family:PingFang SC;
          font-weight:300;
          color:rgba(136,136,136,1);
          line-height:35rpx;
          margin-top: 10rpx;
        }
        .imgs{
          display: flex;
          justify-content: space-between;
          padding: 26rpx 0;
          .img{
            width: 140rpx;
            height: 122rpx;
          }
        }
      }
    }
  }

  .selectedBox {
    position: relative;
    z-index: 1;
    margin-top: 24rpx;
    background-color:#FFF;
    border-radius:10rpx;
    opacity:0.9;
    padding: 20rpx 24rpx 0;
    box-shadow:0rpx 6rpx 20rpx 0rpx rgba(31,34,43,0.07);
    .title{
      font-size:32rpx;
      color:#1A1A1A;
      line-height:48rpx;
      display: flex;
      align-items: flex-end;
      .desc{
        font-size:24rpx;
        font-family:PingFang SC;
        font-weight:300;
        color:rgba(136,136,136,1);
        line-height:35rpx;
        padding-left: 16rpx;
      }
    }
    .bannerBox {
      margin-top: 28rpx;
      width: 100%;
      height: 180rpx;
      position: relative;
      swiper {
        width: 100%;
        height: 100%;
        .selectedInner{
          display: flex;
          .selectedItem{
            width: 0;
            flex-grow: 1;
            display: flex;
            padding-right: 20rpx;
            .img{
              width:110rpx;
              height:110rpx;
              margin-right: 16rpx;
            }
            .desc{
              width: 0;
              flex-grow: 1;
              .desc1{
                font-size:28rpx;
                font-family:PingFang SC;
                font-weight:300;
                color:rgba(33,33,33,1);
                line-height:35rpx;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              .desc2{
                margin-top: 20rpx;
                display: flex;
                align-items: center;
                .left{
                  display: flex;
                  align-items: center;
                  .star{
                    width:18rpx;
                    height:19rpx;
                    margin-right: 5rpx;
                  }
                  .num{
                    font-size:20rpx;
                    font-family:PingFang SC;
                    font-weight:300;
                    color:rgba(253,161,1,1);
                    line-height:35rpx;
                  }
                }
                .right{
                  padding-left: 22rpx;
                  font-size:20rpx;
                  font-family:PingFang SC;
                  font-weight:300;
                  color:rgba(164,164,164,1);
                  line-height:35rpx;
                }
              }
            }
          }
        }
      }
      .dots {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 24rpx;
        height:4rpx;
        background:rgba(0,0,0,.2);
        border-radius:2rpx;
      }
      /*未选中时的小圆点样式 */
      .dot {
        width:24rpx;
        height:4rpx;
      }
      /*选中以后的小圆点样式  */
      //.active {
      //  background:rgba(241,94,52,1);
      //}
    }
  }

  .toggleBox{
    position: relative;
    z-index: 1;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-top: 56rpx;
    padding-bottom: 24rpx;
    .toggleItem{
      text-align: center;
      display: inline-block;
      margin-right: 45rpx;
      &:last-child{
        margin-right: 30rpx;
      }
      .desc1{
        color:#212121;
        font-size:32rpx;
        margin-bottom: 16rpx;
      }
      .desc2{
        display: inline-block;
        color:#666;
        font-size:24rpx;
        height: 32rpx;
        line-height:32rpx;
        padding: 0 10rpx;
        border-radius:16rpx;
      }
    }
    .active{
      .desc1{
        color:@redColor;
      }
      .desc2{
        color:#FFF;
        background-color: @redColor;
      }
    }
  }

  .infoBox{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    .part{
      font-size: 30rpx;
      width: 346rpx;
      .content{
        .infoItem{
          border-radius: 10rpx;
          background-color: #fff;
          margin-bottom: 18rpx;
          .img{
            width:346rpx;
            height:346rpx;
          }
          .desc{
            font-size:24rpx;
            font-family:PingFang SC;
            font-weight:400;
            color:rgba(102,102,102,1);
            line-height:36rpx;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            margin: 28rpx 20rpx 0;
          }
          .labels{
            margin: 16rpx 20rpx 0;
            font-size: 0;
            .label{
              display: inline-block;
              padding: 2rpx 10rpx;
              background:rgba(255,255,255,1);
              border-radius:4rpx;
              font-size:20rpx;
              font-family:PingFang SC;
              font-weight:300;
              //color:rgba(226,80,38,1);
              //border:1rpx solid rgba(226, 80, 38, 1);
              margin-right: 6rpx;
              &:last-child{
                margin-right: 0;
              }
            }
          }
          .bottom{
            padding: 10rpx 20rpx 24rpx;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .price{
              flex-grow: 1;
              font-size:32rpx;
              font-family:PingFang SC;
              font-weight:600;
              //color:rgba(226,80,38,1);
              line-height:36rpx;
              margin-right: 20rpx;
            }
            .add{

            }
          }
        }
      }
    }
  }

}